#searchEngineList {
  min-height: 24px;
}

.engine-icon > .menulist-label-box > .menulist-icon,
.engine-icon > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
  min-height: 16px;
}

.engine-icon > .menu-iconic-left {
  display: -moz-box;
  min-height: 16px;
}

/*Charte Thomas*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F6F6F4;
}
.rank {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #595959;
}
.language {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #AFAFAE;
}
.languageactive {
	font-family: Verdana, sans-serif;
	font-size: 9px;
	color: #C8DA03;
	text-decoration:none;
}
.languagenoactive {
	font-family: Verdana, sans-serif;
	font-size: 9px;
	color: #808080;
	text-decoration:none;
}
.form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #595959;
	border:solid;
	border-color:#DDDDDD;
	border-width:1px;
	background-color:#FFFFFF;
	padding-left:3px;
}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	border:solid;
	border-color:#DDDDDD;
	border-width:1px;
	padding-left:3px;
	width:270px;
	margin-top:2px;
}
.tableborder {
	border:solid;
	border-color:#CECECE;
	border-width:1px;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	background-color:#808080;
	text-align:right;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	width:711px;
	border:none;
}
.results {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align:left;
	padding-left:7px;

}
.footer {
	font-family: Verdana, sans-serif;
	font-size: 9px;
	color:#D3D3D3;
	text-align:right;
	padding-right:7px;

}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #B9B9B9;
	text-align:left;
	padding-left:7px;

}
a.languageactive:hover { 
  color : #FFFFFF ; 
}
a.languagenoactive:hover { 
  color : #FFFFFF ; 
}
/*Fin charte Thomas*/