#searchEngineList {
  min-height: 24px;
}

#formulaire {
	margin-bottom: 20px;
}

.engine-icon {
  width: 16px;
  height: 16px;
  min-height: 16px;
}

/* Simulation d'une liste */
.simililist {
	background-color: white;
}

.simililist column {
	padding:0;
	margin:0;
}
.simililistHeader label{
	width:100%;
	padding:0 0 0 3px;
	margin:0;
	background-color: lightgray;
	border-style:solid;
	border-color:white gray gray white;
	border-width:1px;
}


/*Page options*/
.intituleOptions {
	width:220px;
}

/* Goldorank toolbar button */
#goldorank-button, #wrapper-custom-button-1 {list-style-image: url("chrome://goldorank/content/toolbarbutton.png");}
/* common style for all custom buttons */
.custombutton {-moz-image-region: rect( 0px 24px 24px  0px);}
.custombutton:hover {-moz-image-region: rect(24px 24px 48px  0px);}
[iconsize="small"] .custombutton {-moz-image-region: rect( 0px 40px 16px 24px);}
[iconsize="small"] .custombutton:hover {-moz-image-region: rect(24px 40px 40px 24px);}

